$Black: #141414;
$Grey: #6f6f6f;
$brandGreen: #79be93;
$brandGradient: linear-gradient(to bottom right, rgb(209,33,205), rgb(68,74,238));
//purple blue
$footer: #33303e;


$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width: 450px;
